



body {
  
  background:#e5e5e5;
  font-family: 'Lato', sans-serif; 
  text-align: center;
  
}


.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto; 
    width: /*whatever width you want*/;
}


h2 {
  
  font-weight: 300;
  
}

h3 {
  
 font-weight:100;
  
}

#time {
  
  font-size: 6.4rem;
  margin:0;
  color: #2a3b45;
  
}

#date {
  
  font-size: 1.5rem;
  margin:0;
  color:#344a56;
}

.card {
  
  height:100px;
  width:200px;
  background:#2a3b45;
  border: 1px solid #344a56;
   
}
